name: Inputs
on: 
  workflow_dispatch: #Triggers Manually
    inputs:
      loglevel:
        description: 'Log Level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      print_tags:
        description: 'True to print to STDOUT'
        required: true
        type: boolean
      tags:
        description: 'Test scenario tags'
        required: true
        type: string
      environment:
        description: 'environment to test against'
        type: environment
        required: true
jobs:
  print_tag:
    runs-on: ubuntu-latest
    steps:
    - name: Print the input tag to STDOUT
      run: echo The tags are ${{ inputs.tags }}
    - name: Print the environment
      run: echo The Environment is ${{ inputs.environment }}